@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
}

header {
  margin: 0 auto;
  width: 431px;
}

h1 {
  background: url("/img/set_game.png") 0% 400px;
  padding: 1.2rem 0;
  margin: 0;
}

.score-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(72,223,11,0.9808298319327731) 0%, rgba(0,212,255,1) 99%);
}